$webform-selector: '.webform-submission-form';
$webform-border-radius: var(--border-radius);
$webform-border-size: 1px;
$webform-border-color: var(--primary-color);
$webform-focus-color: var(--secondary);
$webform-icon-color: var(--primary-color);
$webform-label-color: var(--primary-color);
$webform-disabled-color: #959495;
