{% extends 'paragraph.html.twig' %}

{% block paragraph_header %}
  {{ parent() }}
  {{ 'Printing the default content but also adding new stuff inside the paragraph_header block' }}
{% endblock %}

{% block paragraph_content %}
  <div class="paragraph__banner">
    <div class="container">
      <div class="row">
        <div class="col-6">
        {{ dump() }}
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
