@use '~utopia-core-scss/src/utopia' as utopia;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;

  @include utopia.generateSpaceScale(
    (
      'minWidth': 320,
      'maxWidth': 1240,
      'minSize': 18,
      'maxSize': 20,
      'positiveSteps': (
        1.5,
        2,
        3,
        4,
        6,
      ),
      'negativeSteps': (
        0.75,
        0.5,
        0.25,
      ),
      'customSizes': (
        's-l',
      ),
      'prefix': 'space-',
      'relativeTo': 'viewport-width',
    )
  );
}

.u-container {
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
